/* FULL WIDTH GRADIENT */
.hero-wrapper {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 40px;
    color: black;
}

/* Title & text */
.hero-title {
    font-size: 32px;
    font-weight: 700;
}

.hero-text {
    font-size: 16px;
    margin-top: 10px;
    color: #4a4848;
    line-height: 1.6;
}


/* Responsive text sizes (desktop) */
@media (min-width: 768px) {
    .hero-title {
        font-size: 45px;
    }

    .hero-text {
        font-size: 18px;
    }
}
